.loginContainer {
    max-width: 400px;
    height: auto;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
}

.loginContainer img{
  display: block;
  margin: 0 auto;
}

.paper{
  padding: 10px;
  text-align: center;
}
