.githubCorner
    position absolute
    right 0
    top 0

.githubCorner svg
    position absolute
    right 0
    top 0
    mix-blend-mode darken
    color #ffffff
    fill #000000

.githubCorner
    &:hover
        .octoArm
            animation octocat-wave .56s

@keyframes octocat-wave
    0%,
    100%
        transform rotate(0)

    20%, 
    60%
        transform rotate(-20deg)

    40%, 
    80%
        transform rotate(10deg)